/*1984-AMD-AM286*/
body{
    background-color: gray;
}
#Titre{
    color: black;
    text-decoration: underline;
    font-size: 25px;
}
h2{
    font-size: 35px;
    text-decoration: underline;
}
#Histoire{
    font-size: 15px;
}
#image_3{
    border-collapse: 10px solid red;
}
h3{
    font-size: 35px;
    text-decoration: underline;
}
#list_3{
    font-size: 25px;
}
#descr{
    margin-top: -280px;
    margin-left: 280px;
}