/*1_style_AMD_PR.css*/

body{
    background-color: gray;
}
#TITRE_PAGE_AMD_PR{
    color: red;
    font-size: 25px;
    text-decoration: underline;
    
}
#liste_pr{
    font-size: 30px;
}
h3{
    font-size: 30px;
}
h4{
    font-size: 30px;
}
h5{
    font-size: 30px;
}
h6{
    font-size: 30px;
}

p1{
    font-size: 30px;
}

p2{
    font-size: 30px;
}

#h9{
    font-size: 30px;
}