/*style_amd.css*/
body{
    background-color: black;
}
h1{
    color: red;
}
h2{
    color: red;
}
#AMD_pr{
    margin-top: 150px;
    text-align: center;
    font-size: 50px;
    background-color: gray;
    border-radius: 35%;
}
#AMD_gr{
    margin-top: 350px;
    text-align: center;
    font-size: 70px;
    background-color: darkslategray;
    border-radius: 35%;
}
